.gameboard-container {
    border: 1px solid blue;
    /* height: 650px;
    width: 1500px; */
    display: flex;
    justify-content: space-around;
}

.gameboard {
    border: 1px solid green;
    height: 500px;
    width: 500px;
    display: flex;
    flex-wrap: wrap;
    flex-shrink: 0;
}

.cell {
    box-sizing: border-box;
    /* background-color: red; */
    border: 1px solid black;
}