body {
    height: 100vh;
    width: auto;
    overflow: hidden;
    background-image: url("assets/ocean.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

h1 {
    text-align: center;
    font-size: 5rem;
    padding: 0;
    margin: 0;
    text-transform: uppercase;
    color:rgb(30, 30, 30)
}

.gameboard-container {
    /* border: 1px solid blue; */
    display: flex;
    justify-content: space-around;
}

.gameboard {
    /* border: 3px solid green; */
    height: 500px;
    width: 500px;
    display: flex;
    flex-wrap: wrap;
    flex-shrink: 0;
}

.cell {
    box-sizing: border-box;
    border: 1px solid black;
}